body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  font-family: "Russo+one", "Noto+Serif", "Rubik", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  background-color: #151c23;
}

h1, h2 {
  font-family: "Russo+one";
  font-size: 42px;
  margin: 0;
  line-height: 48px;
}

h3, h4, h5, h6 {
  font-family: "Noto+Serif";
  font-size: 30px;
  margin: 0;
}

p, li, a {
  font-family: "Rubik";
  line-height: 1.4;
  font-size: 16px;
  margin: 0;
}

.page-header {
  background-color: #1e252d;
  display: flex;
  justify-content: flex-end;
}

.nav-button {
  display: inline-block;
  margin-right: 56px;
}

.nav-button a{
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.nav-button:hover, .nav-button:active{
  cursor: pointer;
  box-shadow: 4px 4px #2e4340;
}

.intro {
  margin: 0 0 120px;
  background-color: white;
  color: #1e252d;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}

.portfolio {
  background-color: #ffffff;
  color: black;
}

.portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio-item-frame {
  display: inline-block;
  margin: 30px;
  background-color: #1e252d;
}

.portfolio-item {
  display: block;
  position: relative;
  top: -5px;
  right: 5px;
  background-color: #2e4340;
}

.page-footer {
  padding: 40px 0;
  background-color: #1e252d;
  display: flex;
  justify-content: flex-end;
}

.page-footer a {
  margin-right: 56px;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}
