@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Rubik&family=Russo+One&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Russo One', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Rubik', sans-serif;
}
/*   old version before design and bem

h1, h2 {
  font-family: "Russo+one";
  font-size: 42px;
  margin: 0;
  line-height: 48px;
}

h3, h4, h5, h6 {
  font-family: "Noto+Serif";
  font-size: 30px;
  margin: 0;
}

p, li, a {
  font-family: "Rubik";
  line-height: 1.4;
  font-size: 16px;
  margin: 0;
}

.page-header {
  background-color: #1e252d;
  display: flex;
  justify-content: flex-end;
}

.nav-button {
  display: inline-block;
  margin-right: 56px;
}

.nav-button a{
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.nav-button:hover, .nav-button:active{
  cursor: pointer;
  box-shadow: 4px 4px #2e4340;
}

.intro {
  margin: 0 0 120px;
  background-color: white;
  color: #1e252d;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}

.portfolio {
  background-color: #ffffff;
  color: black;
}

.portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio-item-frame {
  display: inline-block;
  margin: 30px;
  background-color: #1e252d;
}

.portfolio-item {
  display: block;
  position: relative;
  top: -5px;
  right: 5px;
  background-color: #2e4340;
}

.page-footer {
  padding: 40px 0;
  background-color: #1e252d;
  display: flex;
  justify-content: flex-end;
}

.page-footer a {
  margin-right: 56px;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
} */


.title {
  font-family: 'Russo One', sans-serif;;
  font-size: 48px;
  line-height: 69px;
  color: #000000;
  position: relative;
  text-align: center;
  padding: 0px 0px 23px 0px;
}
.subtitle {
  font-family: 'Noto Serif', sans-serif;
  font-size: 24px;
  line-height: 38px;
  /* identical to box height */
  color: #000000;
  text-align: center;
}
.text {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height */
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 47px auto;
  }
  .menu__link {
    text-decoration: none;
    margin-right: 30px;
    padding: 0;
    }

.portfolio {
}

  .portfolio__title {
     margin: 0px 0px 23px 0px;
  }

  .portfolio__subtitle {
    margin: 0px 0px 0px 0px;
  }

  .portfolio__all {
    display: flex;
    justify-content: center;
    padding: 64px 135px 137px 135px;
  }

  .portfolio__project {
   padding: 0px 15px;
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  }
  .portfolio__icon {
   text-align: center;
  }
  .portfolio__details {
    text-align: center;
    }

.about {
  background-color: #F1F1F2;
  display: flex;
  justify-content: center;
  }
  .about__body {
    margin: 154px 126px 0px 162px;
    padding: 0;
  }
  .about__image {
    text-align: center;
  }
  .adout__title {
    text-align: left;
    margin-bottom: 60px;
    padding: 0;
  }
  .about__text {
    text-align: left;
  }
